{{- define "content" -}}
{{- template "layout.start" .}}

{{- template "com_cards.fullwidth.start" dict "m" "mb-0" "p" "px-0 md:px-5" "bg" "bg-indigo-950"}}
<iframe src="/panorama/" title="Virtuálna prehliadka" class="w-full lg:w-4/5 h-96"></iframe>
{{- template "com_cards.fullwidth.end"}}

{{- template "com_cards.fullwidth.start" dict "m" "mb-0" "bg" "bg-indigo-200"}}
{{- template "com_cards.cardcontent.start" "text-indigo-800 px-2 sm:px-5 md:px-0"}}
<h1 class="text-4xl font-semibold mb-10 text-center">Niečo o nás</h1>
<p class="text-xl text-justify md:text-left">Materské centrum Mamina je nezisková organizácia, ktorá vznikla v
	roku 2004. Vznikla ako potreba stretávať sa v bezpečnom prostredí a
	zmysluplne tráviť čas so svojimi deťmi na materskej, či rodičovskej
	dovolenke. Naše Materské centrum tento rok oslávilo 19. narodeniny.
	Za ten čas sme my, dobrovoľníčky, vybudovali nádhernú herňu,
	organizujeme krúžky, veľké akcie ako karneval, Míľa pre mamu,
	Mikuláš, prednášky, podporné skupiny,... Tvoríme komunitu, kde si
	každý nájde, to, čo potrebuje: zábavu, oddych, sebarealizáciu,
	informácie a hlavne krásny čas so svojim dieťaťom.</p>
{{- template "com_cards.cardcontent.end" }}
{{- template "com_cards.fullwidth.end"}}

{{- template "com_cards.fullwidth.start" dict "m" "mt-0 mb-24" "p" "px-0 pt-12" "bg" "bg-teal-900"}}
{{- template "com_cards.cardcontent.start" "text-slate-200 px-2 sm:px-5 font-thin md:px-0 md:pb-10 text-xl text-justify md:text-left"}}
<h1 class="text-4xl font-semibold mb-10 text-center">Projekty</h1>
<p class="pb-10">V roku 2013 sme získali ocenenie mesta BB za dobrovoľnícku činnosť
    „Zrnká pomoci“, za zmysluplnú a tvorivú činnosť, prejavenie úcty k
    materstvu a úlohe matky a dosiahnuté výsledky v tejto oblasti.</p>
<p class="pb-10">V roku 2016 sme získali podporu mesta BB a v spolupráci s OZ Duly
    sme rozbehli pilotný projekt sociálneho charakteru „Sprevádzanie
    tehotenstvom a príprava na pôrod pre sociálne znevýhodnené matky“. V
    rámci projektu sme viackrát zorganizovali zbierku šatstva a
    potravinovú pomoc pre rodiny v núdzi. V roku 2017 sa nám podarilo
    úspešne pokračovať v projekte.</p>
<p class="pb-10">V roku 2019 sme sa stali súčasťou projektu „ Rovnosť šancí pre
    každého“, ktorý sa zaoberá problematikou aktívneho sociálneho
    začleňovania sa a svojimi aktivitami poukazuje a oboznamuje
    návštevníkov s rôznymi formami diskriminácie, ponúka bezplatné
    právne a kariérne poradenstvo.</p>
<p class="pb-10">V roku 2020 sme boli nominovaní na ocenenie v ,,Srdce na dlani“, za
    naše dobrovoľné aktivity pre rozvoj komunity.</p>
<p class="pb-10">V roku 2020 a 2021 sme pokračovali v spolupráci s InEnregy v
    projekte „ Rovnosť šancí pre každého“ v online priestore.</p>
<p class="pb-10">Zapojili sme sa do kampane organizovanej Úniou materských centier s
    názvom ,,Láskavo do života“, ktorej nosnou témou bola starostlivosť
    o ženy v predpôrodnom a popôrodnom období v krajinách V4.</p>
<p class="pb-10">Ďalej sme v roku 2021 rozbehli projekt ,, Učenie pre život“ v
    spolupráci s Úniou materských centier . Tento projekt pomáha
    znevýhodneným rodinám, jednorodičom, rodinám s adoptovaným dieťaťom
    a rodinám v hmotnej núdzi.</p>
<p class="pb-10">V roku 2022 v spolupráci s Komunitnou nadáciou Zdravé mesto a
    Nadáciou Orange sme organizovali kurzy slovenčiny pre odídencov z
    Ukrajiny. O tieto kurzy majú záujem prevažne ženy, ktoré majú malé
    deti. Počas kurzu slovenčiny je pre deti účastníčok pripravený
    zaujímavý kreatívny program. Vďaka odstráneniu jazykovej bariéry sa
    môžu ženy lepšie zapojiť do života na Slovensku a nájsť tu
    uplatnenie v práci a tiež bezpečie pre seba a svoje deti.</p>
<p class="pb-10">V roku 2023 sme sa zapojili do projektu „Hrajme a učme sa bez
    hraníc“ v spolupráci s Unicefom. Tento projekt zahŕňa zriadenie
    hracích a vzdelávacích skupín (zamerané na deti vo veku 0-6 rokov).
    A zabezpečuje aj podporu pre rodičov, ktorí sa kvôli vojne ocitli v
    cudzom prostredí. Hracie skupiny slúžili hlavne ako integrácia detí
    a opatrovateľov ukrajinských odídencov. Naše materské centrum v
    rámci tohto projektu organizovalo bezplatnú - Montessori herničku,
    voľnočasové aktivity a komunitné akcie.</p>
<p class="pb-10">V tomto roku nás podporila Komunitná nadácia Zdravé mesto v projekte
    Podpora a pomoc každej mame cez ktorý sme zakúpili kancelárske
    potreby a odbornú literatúru.</p>
<p class="pb-10">Ďalej sme v roku 2023 dostali podporu od Nadácie SPP v projekte Ženy
    ženám – podpora a pomoc v komunite, vďaka ktorému sme sa tento raz
    zamerali na ženy/matky a organizovali sme pre ne workshopy, podporné
    skupiny a kurzy.</p>
{{- template "com_cards.cardcontent.end" }}
{{- template "com_cards.fullwidth.end"}}

{{- template "layout.end" .}}
{{- end }}