{{- define "content" -}}
{{- template "layout.start" .}}

{{- template "submenu" .}}

{{- template "com_cards.fullwidth.start" dict "class" "text-base" "m" "mt-8"}}
{{- template "com_cards.cardcontent.start" ""}}
<h1 class="text-2xl font-bold pb-4">Akcie pre celé rodiny</h1>
<p class="text-base text-justify">
    Ponúkame Vám možnosť zúčastniť sa na rôznych aktivitách, ktoré organizujeme pre Vás a Vaše deti.
</p>
<ul class="list-disc ml-5 text-base">
    <li>Karneval</li>
    <li>Míľa pre mamu</li>
    <li>Športový deň</li>
    <li>Oslava MDMC (medzinárodný deň Materských centier) a narodeniny MC Mamina</li>
    <li>Lampášový sprievod</li>
    <li>Mikuláš</li>
</ul>
{{- template "com_cards.cardcontent.end" }}
{{- template "com_cards.fullwidth.end"}}

{{- template "layout.end" .}}
{{- end }}