{{- define "content" -}}
{{- template "layout.start" .}}

{{- template "submenu" .}}

{{- template "com_cards.fullwidth.start" dict "class" "text-base" "m" "mb-0" "p" "py-10 px-5 md:py-10 xl:py-16"}}
{{- template "com_cards.cardcontent.start" ""}}
<h1 class="text-3xl font-bold pb-6 text-center">Predpôrodný kurz</h1>
<p class="text-base text-justify pb-4">
    Tento kurz pozostáva z piatich stretnutí. Prihlásiť sa môžete vyplnením online prihlášky alebo zaslaním emailu na adresu <a class="underline" href="mailto:predporodnykurz.mcmamina@gmail.com">predporodnykurz.mcmamina@gmail.com</a>.
</p>
<p class="text-base text-justify pb-4">
    <b class="font-bold">Náplň kurzu:</b> Kurz pozostáva z piatich dvojhodinových stretnutí: o tehotenstve, pôrode, dojčení, šestonedelí a starostlivosti o dieťatko. Z toho 3 stretnutia s dulou Michaelou Lidayovou a 2 stretnutia s laktačnou poradkyňou MUDr. Máriou Bohunčákovou.
</p>
<p class="text-base text-justify pb-4">
    <b class="font-bold">Príspevok za kurz:</b> Príspevok na celý kurz je 65 € (5 stretnutí po 2 hodiny), kurzovné sa platí vopred prevodom na účet. Peniažky budú použité na činnosť občianskeho združenia Materské centrum Mamina. Partneri za účasť na lekciách neplatia.
</p>
<p class="text-base text-justify"><b class="font-bold">Termíny začiatkov kurzov:</b></p>
<ul class="list-disc ml-5 text-base pb-4">
    <li>11.2.2026</li>
    <li>8.4.2026</li>
    <li>13.5.2026</li>
</ul>
<p class="text-base text-justify pb-4">
    <b class="font-bold">Čas a miesto konania kurzov:</b> Vždy v stredu v čase 17:00 – 19:00. Stretnutia sa konajú v Materskom centre Mamina, Tatranská 10 (budova bývalej ZŠ). Najbližšia autobusová zastávka je Starohorská rázcestie (linky 26 a 28). Počet miest na kurze je obmedzený. V prípade záujmu sa, prosím, prihláste kliknutím na odkaz pod textom.
</p>
{{- template "com_cards.cardcontent.end" }}
{{- template "com_cards.fullwidth.end"}}

{{- template "layout.end" .}}
{{- end }}
