{{- define "content" -}}
{{- template "layout.start" .}}

{{- template "submenu" .}}

{{- template "com_cards.fullwidth.start" dict "class" "text-base" "m" "mb-0" "p" "py-10 px-5 md:py-10 xl:py-16"}}
{{- template "com_cards.cardcontent.start" ""}}
<h1 class="text-3xl font-bold pb-6 text-center">Krúžky a cvičenia</h1>
<h2 class="text-xl font-bold">Cvičenie pre ženy</h2>
<hr class="h-px border-t-0 bg-gradient-to-r from-indigo-500 to-pink-500 my-2"/>
<p class="text-base text-justify pb-8">
    Je skupinové cvičenie, s rôznymi pomôckami pod vedením fyzioterapeutky Mgr. Lenky Dlhošovej. Posilnenie, ohybnosť, individuálny prístup.
</p>

<h2 class="text-xl font-bold">PONDELOK</h2>
<hr class="h-px border-t-0 bg-gradient-to-r from-indigo-500 to-pink-500 my-2"/>
<p class="text-base text-justify pb-4"><strong>Kurz disco &amp; show dance od 6 r o 16:25</strong><br/>Tanečný krúžok s tanečným klubom Element.</p>
<p class="text-base text-justify pb-4"><strong>Eľkonin pre predškolákov o 16:15 hod.</strong><br/>Je to špeciálny tréning fonematického uvedomovania podľa Eľkonina – program, ktorý deťom pomáha rozvíjať predčitateľské a rečové zručnosti zábavnou a hravou formou.</p>
<p class="text-base text-justify pb-8"><strong>Cvičme spolu od 4 rokov o 17:30 hod.</strong><br/>Cvičenie je určené pre DETI SPOLU S RODIČOM – nielen ako podpora zdravého pohybu, ale aj ako aktívny a zmysluplný spoločný čas.</p>

<h2 class="text-xl font-bold">UTOROK</h2>
<hr class="h-px border-t-0 bg-gradient-to-r from-indigo-500 to-pink-500 my-2"/>
<p class="text-base text-justify pb-4"><strong>HAPPY GYM od 8:45 hod. v troch skupinkách za sebou</strong><br/>Sú vhodné pre detičky od 12 do 36 mesiacov, rozdelené do menších skupiniek, aby mali bezpečný priestor a cítili sa dobre. Na hodinách si deti zaskáču, zaspievajú, zacvičia – a hlavne sa veľa nasmejú. Cvičenia sú pripravené tak, aby podporovali pohybový, rečový aj citový rozvoj dieťaťa.</p>
<p class="text-base text-justify pb-4"><strong>AngličTINKA od 16:30 hod. v dvoch skupinkách</strong><br/>Deti sa najlepšie učia hrou, pohybom a spevom. A presne takto prebieha angličtina s Tinkou – prirodzene, veselo a bez tlaku.</p>
<p class="text-base text-justify pb-8"><strong>Cvičenie pre ženy o 18:10 hod.</strong><br/>Nezáleží na tom, či si začiatočník alebo profík, koľko máš rokov, ani to, či si mama – dôležité je, aby si vypla hlavu, dopriala si čas pre seba, rozhýbala svoje telo a dobila si baterky na každodenné povinnosti.</p>

<h2 class="text-xl font-bold">STREDA</h2>
<hr class="h-px border-t-0 bg-gradient-to-r from-indigo-500 to-pink-500 my-2"/>
<p class="text-base text-justify pb-4"><strong>Svet v tvojich rukách – dobrodružstvá pre najmenších od 1,5 roka o 9:30 hod.</strong><br/>Deti objavujú svet všetkými zmyslami – a u nás dostanú priestor skúšať, chytať, ochutnávať aj spoznávať nové veci hravou formou. Každé stretnutie prináša inú tému a nové dobrodružstvo.</p>
<p class="text-base text-justify pb-4"><strong>Mama kruh – každú prvú stredu v mesiaci od 10:30 hod.</strong><br/>Je určený pre všetky mamy - novopečené aj veteránky, s problémami aj bez nich, unavené, vystresované, pohodové, vyhorené, aktívne, unudené, prestimulované, s prázdnym hniezdom, tie, ktoré si rady pokecajú, aj tie, ktoré rady počúvajú, tie, ktoré si niečím prechádzajú a aj tie, u ktorých sa nič nedeje.</p>
<p class="text-base text-justify pb-8"><strong>HAPPY GYM pre škôlkárov o 16:00 hod.</strong><br/>Pohybové aktivity s rôznymi pomôckami. Motorické zručnosti, ktoré podporujú prirodzený rozvoj škôlkára za sprievodu rôznych básničiek a riekaniek.</p>

<h2 class="text-xl font-bold">ŠTVRTOK</h2>
<hr class="h-px border-t-0 bg-gradient-to-r from-indigo-500 to-pink-500 my-2"/>
<p class="text-base text-justify pb-4"><strong>Mama v kondícii – cvičenie po boku svojho bábätka - 9:30 hod.</strong><br/>Chceš sa rozhýbať, spevniť telo a zároveň byť so svojím bábätkom? Príď si zacvičiť v príjemnej atmosfére, bez stresu a s rešpektom k telu po pôrode.</p>
<p class="text-base text-justify pb-8"><strong>Objavkovo senzorický krúžok o 10:30 hod. 1x mesačne</strong><br/>Pre detičky všetkých vekových kategórií na krúžku deti skúmajú materiály rukami aj nohami, hrajú sa slobodne, tvorivo a v bezpečnom priestore, objavujú svet všetkými zmyslami a rozvíjajú obratnosť, predstavivosť aj zvedavosť.</p>
{{- template "com_cards.cardcontent.end" }}
{{- template "com_cards.fullwidth.end"}}

{{- template "layout.end" .}}
{{- end }}
