{{- define "content" -}}
{{- template "layout.start" .}}

{{- template "submenu" .}}

{{- template "com_cards.fullwidth.start" dict "class" "text-base" "m" "mt-8"}}
{{- template "com_cards.cardcontent.start" ""}}
<h1 class="text-2xl font-bold pb-4">Akcie pre celé rodiny</h1>
<p class="text-base text-justify">
    Ponúkame Vám možnosť zúčastniť sa na rôznych aktivitách, ktoré organizujeme pre Vás a Vaše deti.
</p>
<ul class="list-disc ml-5 text-base">
    <li>Karneval</li>
    <li>Míľa pre mamu</li>
    <li>Športový deň</li>
    <li>Oslava MDMC (medzinárodný deň Materských centier) a narodeniny MC Mamina</li>
    <li>Lampášový sprievod</li>
    <li>Mikuláš</li>
</ul>
{{- template "com_cards.cardcontent.end" }}
{{- template "com_cards.fullwidth.end"}}

{{- template "com_cards.fullwidth.start" dict "class" "text-base" "m" "mt-8 mb-12"}}
{{- template "com_cards.cardcontent.start" ""}}
<h1 class="text-2xl font-bold pb-4">Krúžky a cvičenia</h1>

<h2 class="text-xl font-bold pb-2">PONDELOK</h2>
<hr class="h-px border-t-0 bg-gradient-to-r from-indigo-500 to-pink-500 my-2"/>
<h3 class="text-base text-justify pt-2"><b>Kurz disco &amp; show dance</b> od 6 r o 16:25</h3>
<p class="text-base text-justify">Tanečný krúžok s tanečným klubom Element.</p>
<h3 class="text-base text-justify pt-2"><b>Eľkonin pre predškolákov</b> o 16:15 hod.</h3>
<p class="text-base text-justify">Je to špeciálny tréning fonematického uvedomovania podľa Eľkonina – program, ktorý deťom pomáha rozvíjať predčitateľské a rečové zručnosti zábavnou a hravou formou.</p>
<h3 class="text-base text-justify pt-2"><b>Cvičme spolu</b> od 4 rokov o 17:30 hod.</h3>
<p class="text-base text-justify">Cvičenie je určené pre DETI SPOLU S RODIČOM – nielen ako podpora zdravého pohybu, ale aj ako aktívny a zmysluplný spoločný čas.</p>

<h2 class="text-xl font-bold pt-2">UTOROK</h2>
<hr class="h-px border-t-0 bg-gradient-to-r from-indigo-500 to-pink-500 my-2"/>
<h3 class="text-base text-justify pt-2"><b>HAPPY GYM</b> od 8:45 hod. v troch skupinkách za sebou</h3>
<p class="text-base text-justify">Sú vhodné pre detičky od 12 do 36 mesiacov, rozdelené do menších skupiniek, aby mali bezpečný priestor a cítili sa dobre. Na hodinách si deti zaskáču, zaspievajú, zacvičia – a hlavne sa veľa nasmejú. Cvičenia sú pripravené tak, aby podporovali pohybový, rečový aj citový rozvoj dieťata.</p>
<h3 class="text-base text-justify pt-2"><b>AngličTINKA</b> od 16:30 hod. v dvoch skupinkách</h3>
<p class="text-base text-justify">Deti sa najlepšie učia hrou, pohybom a spevom. A presne takto prebieha angličtina s Tinkou – prirodzene, veselo a bez tlaku.</p>
<h3 class="text-base text-justify pt-2"><b>Cvičenie pre ženy</b> o 18:10 hod.</h3>
<p class="text-base text-justify">Nezáleží na tom, či si začiatočník alebo profík, koľko máš rokov, ani to, či si mama – dôležité je, aby si vypla hlavu, dopriala si čas pre seba, rozhýbala svoje telo a dobila si baterky na každodenné povinnosti.</p>

<h2 class="text-xl font-bold pt-2">STREDA</h2>
<hr class="h-px border-t-0 bg-gradient-to-r from-indigo-500 to-pink-500 my-2"/>
<h3 class="text-base text-justify pt-2"><b>Svet v tvojich rukách – dobrodružstvá pre najmenších</b> od 1,5 roka o 9:30 hod.</h3>
<p class="text-base text-justify">Deti objavujú svet všetkými zmyslami – a u nás dostanú priestor skúšať, chytať, ochutnávať aj spoznávať nové veci hravou formou. Každé stretnutie prináša inú tému a nové dobrodružstvo.</p>
<h3 class="text-base text-justify pt-2"><b>Mama kruh</b> – každú prvú stredu v mesiaci od 10:30 hod.</h3>
<p class="text-base text-justify">Je určený pre všetky mamy - novopečené aj veteránky, s problémami aj bez nich, unavené, vystresované, pohodové, vyhorené, aktívne, unudené, prestimulované, s prázdnym hniezdom, tie, ktoré si rady pokecajú, aj tie, ktoré rady počúvajú, tie, ktoré si niečím prechádzajú a aj tie, u ktorých sa nič nedeje.</p>
<h3 class="text-base text-justify pt-2"><b>HAPPY GYM pre škôlkárov</b> o 16:00 hod.</h3>
<p class="text-base text-justify">Pohybové aktivity s rôznymi pomôckami. Motorické zručnosti, ktoré podporujú prirodzený rozvoj škôlkára za sprievodu rôznych básničiek a riekaniek.</p>

<h2 class="text-xl font-bold pt-2">ŠTVRTOK</h2>
<hr class="h-px border-t-0 bg-gradient-to-r from-indigo-500 to-pink-500 my-2"/>
<h3 class="text-base text-justify pt-2"><b>Mama v kondícii</b> cvičenie po boku svojho bábätka - 9:30 hod.</h3>
<p class="text-base text-justify">Chceš sa rozhýbať, spevniť telo a zároveň byť so svojím bábätkom? Príď si zacvičiť v príjemnej atmosfére, bez stresu a s rešpektom k telu po pôrode.</p>
<h3 class="text-base text-justify pt-2"><b>Objavkovo senzorický krúžok</b> o 10:30 hod. 1x mesačne</h3>
<p class="text-base text-justify">Pre detičky všetkých vekových kategórií na krúžku deti skúmajú materiály rukami aj nohami, hrajú sa slobodne, tvorivo a v bezpečnom priestore, objavujú svet všetkými zmyslami a rozvíjajú obratnosť, predstavivosť aj zvedavosť.</p>
<h3 class="text-base text-justify pt-2"><b>Učenie pre život</b> (o 16:00 hod.)</h3>
<p class="text-base text-justify">Je bezplatný program, ktorý je určený pre znevýhodnené rodiny s deťmi vo veku 0 – 6 rokov. Vďaka programu ponúkame variabilné aktivity aj s montessori princípmi, vďaka ktorým rodiny nachádzajú podporu, inšpiráciu aj praktické nástroje pre rozvoj svojich detí a posilnenie vzťahov. Program sa realizuje v 26 lokalitách po celom Slovensku s podporou Únia materských centier, Generali Slovensko a The Human Safety Net.</p>
{{- template "com_cards.cardcontent.end" }}
{{- template "com_cards.fullwidth.end"}}

{{- template "layout.end" .}}
{{- end }}
