{{- define "content" -}}
{{- template "layout.start" .}}

{{- template "submenu" .}}

{{- template "com_cards.fullwidth.start" dict "class" "text-base" "m" "mt-8"}}
{{- template "com_cards.cardcontent.start" ""}}
<h1 class="text-2xl font-bold pb-4">Akcie pre celé rodiny</h1>
<p class="text-base text-justify">
    Ponúkame Vám možnosť zúčastniť sa na rôznych aktivitách, ktoré organizujeme pre Vás a Vaše deti.
</p>
<ul class="list-disc ml-5 text-base">
    <li>Karneval</li>
    <li>Míľa pre mamu</li>
    <li>Športový deň</li>
    <li>Oslava MDMC (medzinárodný deň Materských centier) a narodeniny MC Mamina</li>
    <li>Lampášový sprievod</li>
    <li>Mikuláš</li>
</ul>
{{- template "com_cards.cardcontent.end" }}
{{- template "com_cards.fullwidth.end"}}

{{- template "com_cards.fullwidth.start" dict "class" "text-base" "m" "mt-8"}}
{{- template "com_cards.cardcontent.start" ""}}
<h1 class="text-2xl font-bold pb-4">Krúžky</h1>

<h2 class="text-xl font-bold pt-2">Pondelok</h2>
<ul class="list-disc ml-5 text-base pb-4">
    <li>Kurz disco &amp; show dance od 6 rokov o 16:25 (tanečný klub Element).</li>
    <li>Eľkonin pre predškolákov o 16:15.</li>
    <li>Cvičme spolu od 4 rokov o 17:30 (deti spolu s rodičom).</li>
</ul>

<h2 class="text-xl font-bold pt-2">Utorok</h2>
<ul class="list-disc ml-5 text-base pb-4">
    <li>HAPPY GYM od 8:45 v troch skupinkách za sebou (pre deti 12–36 mesiacov).</li>
    <li>AngličTINKA od 16:30 v dvoch skupinkách.</li>
    <li>Cvičenie pre ženy o 18:10.</li>
</ul>

<h2 class="text-xl font-bold pt-2">Streda</h2>
<ul class="list-disc ml-5 text-base pb-4">
    <li>Svet v tvojich rukách – dobrodružstvá pre najmenších od 1,5 roka o 9:30.</li>
    <li>Mama kruh – každú prvú stredu v mesiaci od 10:30.</li>
    <li>HAPPY GYM pre škôlkárov o 16:00.</li>
</ul>

<h2 class="text-xl font-bold pt-2">Štvrtok</h2>
<ul class="list-disc ml-5 text-base">
    <li>Mama v kondícii – cvičenie po boku svojho bábätka o 9:30.</li>
    <li>Objavkovo – senzorický krúžok o 10:30 (1x mesačne).</li>
    <li>Učenie pre život o 16:00 (bezplatný program pre znevýhodnené rodiny s deťmi 0–6 rokov).</li>
</ul>
{{- template "com_cards.cardcontent.end" }}
{{- template "com_cards.fullwidth.end"}}

{{- template "layout.end" .}}
{{- end }}
