.activities-presentation .image {
    background-size: cover;
}

.activities-presentation .image-wrapper:hover .image {
    transform: scale(1.25);
}

.activities-presentation .image-wrapper:hover .title.title{
    --tw-bg-opacity: 0.98;
}

.activities-presentation .image.bg-dielnicky {
    background-image: url('@assets/images/dielnicky.jpg')
}
.activities-presentation .image.bg-tinka {
    background-image: url('@assets/images/TINKA.jpg')
}
.activities-presentation .image.bg-hrave-cvicenie {
    background-image: url('@assets/images/hrave-cvicenie.jpg')
}
.activities-presentation .image.bg-pohybova-priprava {
    background-image: url('@assets/images/caleb-woods-jYaImw-FQNI-unsplash.jpg')
}

svg.mcmamina-logo {
       stroke-linecap: round;
       stroke-linejoin: round;
       stroke-miterlimit: 1.5;
       cursor: pointer;
}

svg.mcmamina-logo.mcmamina-animate #heart,
svg.mcmamina-logo.mcmamina-animate #egg {
       transform-origin: center;
       animation: swing 1.8s ease-in-out infinite paused;
}
svg.mcmamina-logo.mcmamina-animate #heart {
       animation: beat 1s ease-in-out infinite;
}
svg.mcmamina-logo.mcmamina-animate:hover #egg {
       animation-play-state: running;
}

@keyframes swing {
       0% {
               transform: rotate(0deg);
       }
       50% {
               transform: rotate(20deg);
       }
       100% {
               transform: rotate(0deg);
       }
}

@keyframes beat {
       0% {
               transform: scale(1);
       }
       50% {
               transform: scale(1.1);
       }
       100% {
               transform: scale(1);
       }
}